
/* ==========================================================================
   Tabel Of Contents
   ==========================================================================
   1.General
   2.main
   3.video
   4.Features
   5.Subscription form
   6.Countdown styles
   7.Twitter feed
   8.Contact
   9.contact Form Validation
   10.footer
   11.Social
   12.scroll top
   13.Small devices (tablets, 768px and up)
   14.Medium devices (desktops, 992px and up)
   15.small devices
*/


/* ==========================================================================
   1.General
   ========================================================================== */

html,
body { height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 16px;
}

p, ul { color: #888; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

a { color: #9834DB; }

a:hover,
a:focus {
  color: #D92DF2;
  text-decoration: none;
}

a:focus { outline: none; }

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ==========================================================================
   2.main
   ========================================================================== */

.logo {
	padding-bottom: 10px;
	margin: 0 auto;
}

.main {
  background: url(../img/crossback.jpg) center center no-repeat scroll;
  background-size: cover;
  padding: 3em 0 4.5em;
  position: relative;
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay { display: none; }

.main:before {
  content: '';
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.main h1 {
  font-size: 36px;
  text-transform: uppercase;
}

.main h1,
.main h2,
.main h3 { font-weight: 300; }

.main h1 span { font-weight: 400; }

.welcome-message { max-width:466px; padding-top: 1.5em; }

.welcome-message h3 {
  margin-top: 46px;
  font-size: 2.2rem;
  margin-bottom: 36px;
}

.welcome-message .form-inline .form-control {
	margin-bottom: 10px;
}

.welcome-message .form-inline .form-control, .welcome-message .form-inline .btn-default {
	width: 100%;
}

.down-arrow {
	position: fixed;
	bottom: 30px;
	left: 30px;
	width: 40px;
	z-index: 300;
}

.down-arrow.scrolled {
	display: none;
}

.header.scrolled img:after {
  content: ' scrolled';   
}

a.anchor {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;
}

.down-arrow img {
	width: 50px;
}

/* ==========================================================================
   nav
   ========================================================================== */

.navbar { display: none; }

.navbar-default {
	padding: 1em 0 1em 0;
}

.navbar-nav {
	padding-top: 2px;
}

.navbar-collapse {
	margin-top: 1em;
}

.navbar-brand>img {
	width: 132px;
}

.navbar .container { width: 100%; }

.navbar-default .navbar-nav > li > a.btn-default {
  text-transform: capitalize;
  color: #fff;
  padding: .75em 2em;
  transition: all .5s linear;
  border: 1px solid #9834DB;
  width: 90%;
  margin: 0 auto;
}

.navbar-default .navbar-nav > li > a.btn-default:hover, .navbar-default .navbar-nav > li > a.btn-default:focus {
  color: #fff;
  border: 1px solid #D92DF2;
  background-color: #D92DF2;
}

.navbar-default .navbar-nav > li > a.btn-default:hover,
.navbar-default .navbar-nav > li > a.btn-default:focus { color: #fff; }

.stick {
  display: block;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.97);
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
  -webkit-animation: fadeInDown 1s both;
  animation: fadeInDown 1s both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translateY(-20px);
        -ms-transform:translateY(-20px);
        transform:translateY(-20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0);
    }
}

/* ==========================================================================
   3.video
   ========================================================================== */

.embed-responsive {
  border-radius: 2px;
  border: 1px solid #000;
}

/* ==========================================================================
   4.Features
   ========================================================================== */

.features.withicons { background: url(../img/confessionpattern.png) center center repeat scroll; }

.features .sideby-feat h4 {
	font-size: 2.8rem;
}

.features .sideby-feat p {
	font-size: 2rem;
}

.section-spacing { padding: 4.5em 0; }

.section-spacing header h2,
.section-spacing header h3,
.features h4 { margin-top: 0; }

.section-spacing h2 {
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
}

.section-spacing header h3 {
  color: #999;
  font-size: 20px;
}

.features .row { margin: 4.5em 0; }

.features.morefeatures .row { padding: 4.5em 0; margin:0; }


.features .row:last-child { margin-bottom: 0; }

.features article {
  margin-top: 3em;
  text-align: center;
}

.features p {
  font-size: 1.6rem;
  color: #B2B2B2;
}


/* ==========================================================================
   5.Subscription form
   ========================================================================== */


 .form-control::-webkit-input-placeholder {
 color: #C1C1C1;
}
 .form-control:-moz-placeholder {
 color: #C1C1C1;
}
 .form-control::-moz-placeholder {
 color: #C1C1C1;
}
 .form-control:-ms-input-placeholder {
 color: #C1C1C1;
}

.center-block { float: none; }

.sub-form header { margin-bottom: 2.625em; }

.biggerform .form-control {
  padding: 1em 2em;
  border-radius: 30px;
  margin-bottom: 1.5em;
  box-shadow: none;
}

.sub-form .btn-default { padding: 1em 5em; }

.sub-form .form-control,
.sub-form .btn-default {
  display: block;
  width: 100%;
}

.form-control {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  height: auto;
  padding: 0.75em 2em;
  border-radius: 7px;
  margin-right: 1em;
}

.form-control:focus {
  border-color: #E5E5E5;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.btn-default {
  border-radius: 30px;
  padding: 1em 3em;
  color: #fff;
  background-color: #9834DB;
  border-color: #9834DB;
  font-weight: 700;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  text-transform: uppercase;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #fff;
  background-color: #D92DF2;
  border-color: #D92DF2;
}

.btn:active:focus,
.btn-default:focus,
.btn:focus,
.btn-default:active { outline: none; }

#mc-notification { margin: 1.5em 0 0; }

#mc-notification .alert,
#mc-notification .success { display: inline-block; }

.success,
.alert,
.success-cf p,
.error-cf p {
  padding: 1em 2em;
  margin-bottom: 0;
  border-radius: 7px;
  font-weight: 600;
}

.success,
.success-cf p {
  background: #dff0d8;
  color: #3c763d;
  border: 1px solid rgba(60, 118, 61, 0.18);
}

.alert,
.error-cf p {
  background: #FFE5E5;
  color: #ea5050;
  border: 1px solid rgba(169, 82, 82, 0.18);
}

.success i,
.alert i,
.success-cf i,
.error-cf i { padding-right: .5em; }

/* ==========================================================================
   6.Countdown styles
   ========================================================================== */
ul.countdown {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding: 0 0 3em;
}

ul.countdown li { display: inline-block; }

ul.countdown li span { font-size: 36px; }

ul.countdown li.seperator {
  font-size: 30px;
  line-height: 50px;
  vertical-align: top;
  padding: 0 8px;
}

ul.countdown li p {
  font-size: 16px;
  margin-bottom: 0;
}

/* ==========================================================================
   7.Twitter feed
   ========================================================================== */

.twitter-share-button {
	width: 56px !important;
	margin-left: 3px; }
.fb-share-button {
    vertical-align: top; }
.fb_iframe_widget {
	margin-bottom: 2px; }
.fb_iframe_widget span {
    vertical-align: top !important; }
.tlt span span {
	display: block; }
.twitter-feed {
  color: #fff;
  position: relative;
}

.twitter-feed {
  color: #fff;
  position: relative;
}

.overlay-t {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
}

.twitter-feed h2 {
  margin: 0;
  color: #fff;
}

.twitter-icon .fa-twitter {
  color: #fff;
  padding: 24px 0 12px;
  font-size: 3em;
}

.tweet { font-size: 18px; }

/* ==========================================================================
   8.Contact
   ========================================================================== */

.video header,
.screenshot header,
.contact header { margin-bottom: 3em; }

.contact-form .form-control {
  border-color: #ddd;
  margin-bottom: .75em;
  padding: 1em;
  margin-bottom: 1.5em;
  box-shadow: none;
}

.contact .btn-default { width: 100%; }

/* ==========================================================================
   9.contact Form Validation
   ========================================================================== */

.contact-form label.error {
  margin-bottom: 1.5em;
  font-weight: 600;
  color: #ea5050;
}

.contact-form label.error i { padding-right: 8px; }

.success-cf,
.error-cf { display: none; }

.contact-form .success-cf p,
.contact-form .error-cf p {
  position: absolute;
  display: block;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 80%;
  margin: 0 auto;
}

.contact-form .form-control.error {
  border-color: #E7BEBE;
  color: #D95C5C;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: .3em 0 0 0 #D95C5C inset;
  margin-bottom: .75em;
}

.contact-form .form-control.error:focus {
  border-color: #ff5050;
  color: #ff5050;
  box-shadow: .3em 0 0 0 #FF5050 inset;
}

.contact-form .valid { border-color: #2ecc71; }

/* ==========================================================================
   10.footer
   ========================================================================== */

.site-footer,
.video,
 .sub-form { background: #F7F7F7; }

.sub-form {   background: url(../img/confessionpattern.png) center center repeat scroll; }

.site-footer.section-spacing { padding: 4.5em 0; }

.site-footer small {
  color: #B3B3B3;
  font-size: 1em;
  margin: 1.5em 0 .75em;
  display: inline-block;
}

.modal-header {
  background: #9834DB;
  position: relative;
  min-height: 0;
  padding: 1.5em 1em;
}

.modal-title {
  color: #FFF;
  font-weight: 700;
}

button.close {
  color: #9834DB;
  opacity: 1;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #D92DF2;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.modal-body { padding: 1.5em; }

/* ==========================================================================
   11.Social
   ========================================================================== */

nav .social {
	margin: 10px 0px 20px 0px;
	text-align: center;
}

.social li {
  display: inline-block;
  padding-right: .8em;
  text-align: center;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #9834DB;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  border: 1px solid #9834DB;
  font-size: 1.3em;
}

.social li a:hover {
  color: #fff;
  border: 1px solid #D92DF2;
  background: #D92DF2;
}

.topper.social li a {
  color: #FFFFFF;
  width: 40px;
  height: 40px;
	line-height: 39px;
	border: 2px solid #FFFFFF;
	font-size: 1em;
}

.topper.social li a:hover {
  color: #fff;
  border: 2px solid #D92DF2;
  background: #D92DF2;
}

.topper.social {
	margin: 1em 0 0em 1em;
    top: 0;
    position: absolute;
    z-index: 200;
}    

/* ==========================================================================
   12.scroll top
   ========================================================================== */

.scroll-top { margin-bottom: 0; }

.scroll-top a {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding: .8em 1em;
  display: none;
  z-index: 200;
  border-radius: 50%;
  -webkit-transition: background .5s ease-in;
  transition: background .5s ease-in;
}

.scroll-top a:hover { background: #D92DF2; }



/* ==========================================================================
   13.Small devices (tablets, 550px and up)
   ========================================================================== */



@media (min-width: 550px) {
	.welcome-message .form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
		margin-bottom: 0;
	}

	.welcome-message .form-inline .btn-default {
		width: auto;
	}
}

/* ==========================================================================
   13.Small devices (tablets, 768px and up)
   ========================================================================== */

@media (min-width: 768px) {

.welcome-message { padding-top: 2.25em; }

.main h1 { font-size: 60px; }

ul.countdown li span { font-size: 48px; }

ul.countdown li.seperator {
  font-size: 36px;
  line-height: 68px;
  padding: 0 20px;
}

ul.countdown li p { font-size: 20px; }
}

/* ==========================================================================
   14.Medium devices (desktops, 992px and up)
   ========================================================================== */

@media (min-width: 992px) {

.navbar-collapse {
	margin-top: 0em;
}

.navbar-default .navbar-nav > li > a.btn-default {
	width: auto;
	margin: auto;
}

nav .social {
		margin: 0px 20px 0px 10px;
}

.navbar .container { width: 970px; }

.logo {
	margin: 0;
}

.main {
  padding: 1em 0 0em;
  text-align: left;
  background: url(../img/crossback.jpg) center center no-repeat fixed;
  background-size: cover;
  min-height: 100%;
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/crossback.jpg) center center no-repeat fixed;
  background-size: cover;
  opacity: 0;
}

.overlay:before {
  content: '';
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hero-img {
	width: 300px;
  /*background-image: url('../img/hero.png');*/
}

/*.hero-img:hover {
    content: url('../img/icons/videocall-white.svg');
}*/

.welcome-message { padding-top: 6.75em; }

.section-spacing { padding: 6em 0; }

.features article {
  margin-top: 10.5em;
  text-align: inherit;
}

.sub-form .form-control {
  width: 50%;
  margin-bottom: 0;
  display: inline-block;
}

.sub-form .btn-default {
  width: auto;
  display: inline-block;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  height: 100%;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/load.gif) no-repeat center center;
  margin: -170px 0 0 -100px;
}

}

@media (min-width: 1200px) {

.navbar .container { width: 1170px; }

}
/* ==========================================================================
   16.small devices
   ========================================================================== */



@media (max-width: 320px) {

ul.countdown li span { font-size: 28.833px; }

ul.countdown li.seperator {
  font-size: 25.629px;
  line-height: 38.439px;
  vertical-align: top;
  padding: 0 2px;
}

ul.countdown li p { font-size: 12.642px; }
}


/* ========================================================== */
/* 				  		   12. FEATURES                       */
/* ========================================================== */

.features .wide-container {
	width: auto;
}

.features_left, .features_right{
	width: 33%;
	float:left;
}

.features_center{
	width:30%;
	padding:0 2%;
	float:left;
}

@media (min-width: 1155px) {
	.features_left {
		padding-left: 5%;
	}

	.features_right {
		padding-right: 5%
	}
}

@media (max-width: 768px) {
	.features_left, .features_right{
		width:100%;
	}

	.features_center{
		width:90%;
		padding:0 5%;
		text-align:center;
	}

	.mobile_noflex {
		display: block !important;
	}

	.big_top_margin {
  	margin-top: 55px;
	}

}

span.features_title_big{
	margin: 0;
	padding-bottom: 10px;
	display:block;
	clear:both;
	font-size:28px;
	line-height:32px;
	text-align:center;
	font-weight:400;
	color:#222;
}

span.features_title_small{
	margin: 0;
	padding-bottom: 70px;
	display:block;
	clear:both;
	font-size:18px;
	line-height:22px;
	text-align:center;
	font-weight:300;
	color:#222;
	font-style:italic;
}

.features_item{
	margin-bottom:40px;
}

.features_item h4{
	font-weight:500;
	font-size:2rem;
	margin-bottom:15px;
	text-transform:uppercase;
}

.text_align_right {
	text-align:right;
}

.text_align_left {
	text-align:left;
}

/* ----- Dropcaps ----- */

.dropcaps_left, .dropcaps_right {
	height: 48px;
	min-width: 48px;
	text-align: center;
	color:#222;
	font-size: 26px;
	border: 1px solid #222;
	background-color: #fff;
	position: relative;
	-webkit-border-radius: 29px 29px;
    -moz-border-radius: 29px 29px;
    border-radius: 29px 29px;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

.dropcaps_left i, .dropcaps_right i {
	vertical-align: baseline!important;
}

.dropcaps_left {
	margin:10px 25px 40px 0;
}

.dropcaps_right {
	margin:10px 0 40px 25px;
}

.features_item:hover .dropcaps_left, .features_item:hover .dropcaps_right {
	color:#fff;
	border: 1px solid #D92DF2;
	background-color: #D92DF2;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

.icoall {
	background-repeat:no-repeat;
	background-size: 24px 24px;
	background-position: 50%;
	width: 24px;
	height: 24px;
	padding: 23px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.icovideo {
	background-image:url('../img/icons/videocall.svg');
}

.features_item:hover .icovideo {
	background-image:url('../img/icons/videocall-white.svg');
}

.icolock {
	background-image:url('../img/icons/lock.svg');
}

.features_item:hover .icolock {
	background-image:url('../img/icons/lock-white.svg');
}

.icomanuals {
	background-image:url('../img/icons/manuals.svg');
}

.features_item:hover .icomanuals {
	background-image:url('../img/icons/manuals-white.svg');
}

.icopick {
	background-image:url('../img/icons/picks.svg');
}

.features_item:hover .icopick {
	background-image:url('../img/icons/picks-white.svg');
}

.icosins {
	background-image:url('../img/icons/todolist.svg');
}

.features_item:hover .icosins {
	background-image:url('../img/icons/todolist-white.svg');
}

.icostar {
	background-image:url('../img/icons/star.svg');
}

.features_item:hover .icostar {
	background-image:url('../img/icons/star-white.svg');
}

.privacy-screen {
    background-image:url('../img/icons/screen.svg');
}

.features_item:hover .privacy-screen {
    background-image:url('../img/icons/screen-white.svg');
}


/*MAX WIDTH RULES*/

@media (min-width: 992px) and (max-width: 1199px) {
	.primeimage {
		text-align: right;
	}
}

@media (max-width: 991px) {
	.welcome-message {
		margin: 0 auto 50px auto;
		max-width: 80%;
	}

	.topper.social {
   top: 0;
    left: 50%;
    position: absolute;
    z-index: 200;
    margin: 40px 0 0 0;
	}

		.topper.social ul {
position: relative; left: -50%;
	}

}

@media (min-width: 768px) and (max-width: 992px) {

	.features .align-center {
		align-items: flex-start;
    -webkit-align-items: flex-start;
	}
}

@media (max-width: 768px) {

	.features_center {
		width: 300px;
	}

	.mobile-order1 {
		order: 1;
		margin: 10px 25px 40px 0px;
	}

	.mobile-order2 {
		order: 2;
		text-align: left;
	}
}

@media (max-width: 500px) {
	.welcome-message {
		max-width: 96%;
	}
}

